<div class="container">
  <div class="col">
    <h1 class="centered">{{name}}'s notes</h1>
  </div>
  <button id="btn-logout" class="btn btn-info btn-block login" (click)="logout()">Cerrar sesión</button>
  <hr />

  <form class="row">
    <div class="form-group-col-md-2">
      <img src="/assets/add.png" alt="add" type="button"  class="btn-add" (click)="openDialogAdd()" title="add-note">
        <img src="/assets/serch.png" alt="serch" type="button"  class="btn-serch" (click)="findNotes()" title="serch">
      </div>
  </form>

  <hr />
  
  <div class="mt-3" >
    <div class="colum-table" >
      
      <div class="table-row" *ngFor="let note of notes" (click)="openDialog(note)">
        <div id="title" class="table-cell" >{{ note.title }}</div>
        <div class="table-cell">{{ note.description }}</div>
        <div class="table-cell">{{ note.userDto.name}}</div>
        
        <div class="table-cell actions">
          <div id="date" class="table-cell">{{ note.date }}</div>
          <button id="red-buttom" mat-mini-fab color="warn" aria-label="Eliminar" (click)="deleteNote($event,note)"
          *ngIf="openDialog">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

    </div>
    
    
  </div>

  <div class="col-10 text-right" id="total"></div>
</div>
