/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     background: hwb(207 18% 33%);
     background: radial-gradient(circle, rgba(45,113,170,0.6817718420375962) 18%, rgba(194,194,194,1) 73%, rgba(194,194,194,0.8862536347546831) 100%);
}